<div style="text-align: center;">
    <img class="last-block-line" src="{{ asset('build/images/line.png') }}" alt="line-médiation-familiale-bordeaux">
</div>

<div class="last-block">
    <div class="last-block-infos">
        <h2><span style="font-family: 'Concert One', sans-serif; font-size: 2em;">VOUS AVEZ UNE QUESTION ?</span></h2>
        <p>Contactez-moi pour toute demande, information ou prise de rendez-vous. N’hésitez pas à laisser votre numéro
            de téléphone, je vous rappelerai dès que possible.
        </p>
        <h2><span style="font-family: 'Concert One', sans-serif; font-size: 2em;">LIEU</span></h2>
        <p><span class="bold">Adresse :</span> <br/>
            Résidence Phèdre, Rue Toulouse Lautrec, 33400 Talence</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1001.0511577712714!2d-0.5856125322808539!3d44.793031142678174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd552741d7dc4677%3A0x12b3c4c06d083880!2s1%20Rue%20Henri%20de%20Toulouse-Lautrec%2C%2033400%20Talence!5e0!3m2!1sfr!2sfr!4v1703256091322!5m2!1sfr!2sfr"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="form">
        {{ dump(app.flashes) }}
        {% for message in app.flashes %}
        <p>{{ message }}</p>
        {% endfor %}
{#        {% for message in app.flashes('success') %}#}
{#        <p>{{ message }}</p>#}
{#        {% endfor %}#}
        <form action="{{ path('app_form') }}" class="form-display" method="post">
            <label for="email">Email</label>
            <input type="email" name="email">
            <label for="object">Objet</label>
            <input type="text" name="object">
            <label for="message">Message</label>
            <textarea style="height: 20vw;" name="message"></textarea>
            <input type="submit" class="button-2">
        </form>
    </div>
</div>
